@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Carrito_compra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div id="carrito-compra">
    </div>
    <br />
    <nav class="navbar navbar-dark">
        <a class="navbar-brand">Resumen de tu Compra</a>
        <form class="form-inline">
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Ver mas Productos</button>
        </form>
    </nav>
</div>
@section Scripts {
    <partial name="CartScripts" />
}