<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ferme</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--Tipografia-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!--Estilos css-->
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css?v1" />
    <link rel="stylesheet" href="~/css/site.css?v3" />
    <link rel="stylesheet" href="~/css/index.css?v1" />
    <link rel="stylesheet" href="~/css/listProduct.css?v3" />
    <link rel="stylesheet" href="~/css/detailProduct.css?v2" />
    <link rel="stylesheet" href="~/css/cart.css?v2" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 fixed-top">
            <div class="container">
                <img src="https://i.ibb.co/Rj4xpYJ/ferme-1.png" class="logo" alt="Logo Ferme" />
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Ferme</a>                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <div class="iconos-navbar">
                        <i class="fas fa-user"></i>
                        <a asp-area="" asp-page="/Cart/Cart">
                            <i class="fas fa-shopping-cart" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>

        </nav>
    </header>
    <div class="container">
        <section class="contenedor-body">
            <partial name="_Search" />
            <main role="main" class="pb-3">
                @RenderBody()        
            </main>
        </section>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Ferme - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
