@using Microsoft.AspNetCore.Identity
@using Ferme.IdentityProvider
@inject SignInManager<FermeUser> SignInManager
@inject UserManager<FermeUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item nav-link text-dark">
            Hola <strong>@(User.FindFirst("DisplayName").Value)!</strong>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">                
                <button type="submit" class="nav-link btn btn-link text-dark">Cerrar sesión</button>
            </form>
            <div class="textos-navbar">
                <a asp-area="" asp-page="/Cart/Cart">
                    <i class="fas fa-shopping-cart" aria-hidden="true"></i>
                    <span>Carro de compras</span>
                </a>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">            
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Mi Cuenta</a>
            <div class="textos-navbar">
                <a asp-area="" asp-page="/Cart/Cart">
                    <i class="fas fa-shopping-cart" aria-hidden="true"></i>
                    <span>Carro de compras</span>
                </a>
            </div>
        </li>
    }
</ul>
