.container-carrito {
    background-color: rgb(238, 238, 238);
    height: 400px;
    text-align: center;
}

.navbar-dark {
    background-color: rgb(238, 238, 238);
}

.h3 {
    position: center;
    text-align: center;
}