@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Detalle Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" id="contenedorDetalleProducto"></div>

@section Scripts {
    <partial name="DetailProductScripts" />
    <partial name="Carrito/carritoScripts" />
    <partial name="Carrito/PedidoScripts" />

}