<script>
    const traerProductos = async () => {
        let response = await fetch(`../../api/product/producto`);
        if (response.ok) {
            let productos = await response.json();
            let html = ``;
            Array.from(productos).forEach((producto) => {
                html += `
                    <div class="card col-6 col-md-3">
                        <img class="productos-img" src=${producto.imagen} class="card-img-top" alt="${producto.nombre}">
                        <p class="productos-marca">${producto.marcaProducto}</p>
                        <p class="productos-nombre">${producto.nombre}</p>
                        <p class="productos-precio">$ ${producto.precio.toLocaleString()} c/u</p>
                        <button class="productos-agregar">Agregar</button>
                    </div>
                `;
            })
            document.getElementById("contenedorProductos").innerHTML = html;
        }
    }
    traerProductos();
</script>
